
        <!-- start post section -->
        <section class="top-space-margin right-side-bar">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 blog-standard md-mb-50px sm-mb-40px">
                        <!-- start blog details  -->
                        <div class="col-12 blog-details mb-12"> 
                            <div class="entry-meta mb-20px fs-15">
                                <span><i class="text-dark-gray feather icon-feather-calendar"></i>
									<a href="/">
										{{#each blog.elems}}
											{{#if (isEqual this.id ../request.query.post_id)}} 
												{{this.date}} 
											{{/if}}
										{{/each}}
									</a>
								</span>
                                <span><i class="text-dark-gray feather icon-feather-user"></i>
									<a href="/">
										{{#each blog.elems}}
											{{#if (isEqual this.id ../request.query.post_id)}}
												{{#each ../blog.authors}}
													{{#if (isEqual this.id ../this.author_id)}}
														{{this.name}}
													{{/if}}
												{{/each}}
											{{/if}}
										{{/each}}
									</a>
								</span>
                                <span><i class="text-dark-gray feather icon-feather-folder"></i>
									<a href="/">
										{{#each blog.elems}}
											{{#if (isEqual this.id ../request.query.post_id)}} 
												{{this.theme}} 
											{{/if}}
										{{/each}}
									</a>
								</span> 
                            </div>
                            <h5 class="text-dark-gray fw-600 w-80 sm-w-100 mb-6">
								{{#each blog.elems}}
									{{#if (isEqual this.id ../request.query.post_id)}} 
										{{this.title}} 
									{{/if}}
								{{/each}}
							</h5>
                            <div class="p-9 border-radius-5px bg-dark-gray blockquote-style-01 mb-6">
                                <!-- start blockquote -->
                                <i class="bi bi-chat-quote float-start me-30px xs-me-20px text-gradient-pink-orange icon-extra-double-large xs-icon-double-large"></i>
                                <blockquote class="mb-0 d-table last-paragraph-no-margin">
									{{#with (getRandomAphoism)~}}
                                    	<p class="fs-28 lh-36 text-white mb-15px">{{this.text}}</p>
										<div class="fw-500 fs-13 text-white mt-15px">{{this.author}}</div>
									{{/with}}
                                </blockquote>
                                <!-- end blockquote -->
                            </div>
                            <p>
								{{#each blog.elems}}
									{{#if (isEqual this.id ../request.query.post_id)}} 
										{{this.desc}} 
									{{/if}}
								{{/each}}
							</p>
                            <p>
								{{#each blog.elems}}
									{{#if (isEqual this.id ../request.query.post_id)}} 
			                            <img src="../{{this.preview}}" alt="{{this.title}}" class="w-100 border-radius-6px mb-7" />
									{{/if}}
								{{/each}}
							</p>
                            <p>
								{{#each blog.elems}}
									{{#if (isEqual this.id ../request.query.post_id)}} 
										{{this.desc}} 
									{{/if}}
								{{/each}}
							</p>
                        </div>
                        <div class="col-12">
                            <div class="row mb-50px sm-mb-30px">
                                <div class="tag-cloud col-12 col-md-9 text-center text-md-start sm-mb-15px">
									{{#each blog.elems}}
										{{#if (isEqual this.id ../request.query.post_id)}} 
											{{#each this.tag_ids}}
												{{#each ../../this.blog.tags}}
													{{#if (isEqual ../this this.id)}}
		                                    			<a href="/blog?tag='{{this.name}}'">{{this.name}}</a> 
													{{/if}}
												{{/each}}
											{{/each}}
										{{/if}}
									{{/each}}
                                </div> 
                                <div class="tag-cloud col-12 col-md-3 text-uppercase text-center text-md-end">
                                    <a class="likes-count fw-500 mx-0" href="#"><i class="fa-regular fa-heart text-red me-10px"></i>
										<span class="text-dark-gray text-dark-gray-hover">
											{{#each blog.elems}}
												{{#if (isEqual this.id ../request.query.post_id)}} 
													{{this.likes}} Likes
												{{/if}}
											{{/each}}
										</span>
									</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-7">
                                    <div class="d-block d-md-flex w-100 box-shadow-extra-large align-items-center border-radius-4px p-8">
                                        <div class="w-140px text-center me-60px sm-mx-auto">
											{{#each blog.elems}}
												{{#if (isEqual this.id ../request.query.post_id)}} 
													{{#each ../this.blog.authors}}
														{{#if (isEqual this.id ../this.author_id)}} 
															<img src="{{this.img}}" class="rounded-circle w-110px" alt="" />
														{{/if}}
													{{/each}}
												{{/if}}
											{{/each}}
											{{#each this.blog.elems}}
												{{#if (isEqual this.id ../request.query.post_id)}} 
                                            		<a href="/blog?author={{this.author_id}}" class="text-dark-gray fw-500 mt-25px d-inline-block lh-20">
														{{#each ../this.blog.authors}}
															{{#if (isEqual ../this.author_id this.id)}}
																{{this.name}}
															{{/if}}
														{{/each}}
													</a>
												{{/if}}
											{{/each}}
											{{#each this.blog.elems}}
												{{#if (isEqual this.id ../request.query.post_id)}} 
                                            		<span class="fs-15 lh-20 d-block sm-mb-15px">
														{{#each ../this.blog.authors}}
															{{#if (isEqual ../this.author_id this.id)}}
																{{this.job_title}}
															{{/if}}
														{{/each}}
													</span>
												{{/if}}
											{{/each}}
                                        </div>
                                        <div class="w-75 sm-w-100 text-center text-md-start">
											{{#each this.blog.elems}}
												{{#if (isEqual this.id ../request.query.post_id)}} 

                                            		<a href="/blog?author='{{thgis.author_id}}'" class="btn btn-link btn-large text-dark-gray mt-20px fw-600">All author posts</a>

												{{/if}}
											{{/each}}
											{{> carousel }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 text-center elements-social social-icon-style-04">
                                    <ul class="medium-icon dark">
                                        <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i><span></span></a></li>
                                        <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i><span></span></a></li>
                                        <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"><span></span></i></a></li>
                                        <li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"><span></span></i></a></li> 
                                        <li><a class="behance" href="http://www.behance.com/" target="_blank"><i class="fa-brands fa-behance"></i><span></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end blog details -->
                    </div>
                    <!-- start sidebar -->
                    <aside class="col-12 col-xl-4 col-lg-4 col-md-7 ps-55px xl-ps-50px lg-ps-15px sidebar">
  
                        <div class="mb-15 md-mb-50px xs-mb-35px">
                            <div class="fw-600 fs-19 lh-22 ls-minus-05px text-dark-gray border-bottom border-color-dark-gray border-2 d-block mb-30px pb-15px position-relative">Explore category</div>
                            <ul class="category-list-sidebar position-relative">
								{{#each blog.themes}}
                                <li class="d-flex align-items-center h-80px cover-background ps-35px pe-35px" style="background-image: url('https://via.placeholder.com/600x144')">
                                    <div class="opacity-medium bg-gradient-dark-transparent"></div>
                                    <a href="/blog?theme={{this}}" class="d-flex align-items-center position-relative w-100 h-100">
                                        <span class="text-white mb-0 fs-20 fw-500 fancy-text-style-4">{{this}}</span>
                                        <span class="btn text-white position-absolute"><i class="bi bi-arrow-right ms-0 fs-24"></i></span>
                                    </a>
                                </li>
								{{/each}}
                            </ul>
                        </div>
                        <div class="mb-17 md-mb-50px xs-mb-35px">
                            <div class="bg-white box-shadow-extra-large p-14 xl-p-10 newsletter-style-05">
                                <div class="fw-600 fs-19 lh-22 ls-minus-05px text-dark-gray border-bottom border-color-dark-gray border-2 d-block mb-20px pb-15px position-relative">Newsletter subscribe</div>
                                <p class="fs-15 lh-24">Signup for free and be the first to get notified on new updates.</p>
                                <form action="email-templates/subscribe-newsletter.php" method="post" class="position-relative">
                                    <input class="w-100 fs-15 input-small form-control box-shadow-medium-bottom border-radius-0px text-center required mb-10px" type="email" name="email" placeholder="Enter your email address" />
                                    <input type="hidden" name="redirect" value="">
                                    <button class="btn btn-small btn-dark-gray w-100 btn-box-shadow submit" aria-label="submit now">submit now</button>
                                    <div class="d-flex fs-14 mt-10px">
                                        <div class="d-inline-block"><i class="line-icon-Handshake me-10px align-middle icon-very-medium"></i>Protecting your privacy</div> 
                                    </div>
                                    <div class="form-results border-radius-4px mt-10px lh-normal pt-10px pb-10px ps-15px pe-15px fs-16 w-100 text-center position-absolute z-index-1 d-none"></div>
                                </form>
                            </div>
                        </div>
                        <div class="mb-15 md-mb-50px xs-mb-35px elements-social social-icon-style-10">
                            <div class="fw-600 fs-19 lh-22 ls-minus-05px text-dark-gray border-bottom border-color-dark-gray border-2 d-block mb-30px pb-15px position-relative">Stay connected</div>
                            <div class="row row-cols-2 row-cols-lg-2 justify-content-center align-items-center g-0">
                                <div class="col border-bottom border-end border-color-extra-medium-gray ps-25px pe-25px xl-ps-15px xl-pe-15px lg-ps-10px lg-pe-10px pt-10px pb-10px">
                                    <a class="facebook text-dark-gray" href="https://www.facebook.com/" target="_blank">
                                        <i class="fa-brands fa-facebook-f fs-18 me-10px"></i>
                                        <span class="fw-500">Facebook</span>
                                    </a>
                                </div>
                                <div class="col border-bottom border-color-extra-medium-gray ps-25px pe-25px xl-ps-15px xl-pe-15px lg-ps-10px lg-pe-10px pt-10px pb-10px">
                                    <a class="dribbble text-dark-gray" href="http://www.dribbble.com" target="_blank">
                                        <i class="fa-brands fa-dribbble fs-18 me-10px"></i>
                                        <span class="fw-500">Dribbble</span>
                                    </a> 
                                </div>
                                <div class="col border-bottom border-end border-color-extra-medium-gray ps-25px pe-25px xl-ps-15px xl-pe-15px lg-ps-10px lg-pe-10px pt-10px pb-10px">
                                    <a class="twitter text-dark-gray" href="http://www.twitter.com" target="_blank">
                                        <i class="fa-brands fa-twitter fs-18 me-10px"></i>
                                        <span class="fw-500">Twitter</span>
                                    </a>
                                </div>
                                <div class="col border-bottom border-color-extra-medium-gray ps-25px pe-25px xl-ps-15px xl-pe-15px lg-ps-10px lg-pe-10px pt-10px pb-10px">
                                    <a class="youtube text-dark-gray" href="http://www.youtube.com" target="_blank">
                                        <i class="fa-brands fa-youtube fs-18 me-10px"></i>
                                        <span class="fw-500">Youtube</span>
                                    </a> 
                                </div>
                                <div class="col border-bottom border-end border-color-extra-medium-gray ps-25px pe-25px xl-ps-15px xl-pe-15px lg-ps-10px lg-pe-10px pt-10px pb-10px">
                                    <a class="instagram text-dark-gray" href="http://www.instagram.com" target="_blank">
                                        <i class="fa-brands fa-instagram fs-18 me-10px"></i>
                                        <span class="fw-500">Instagram</span>
                                    </a> 
                                </div>
                                <div class="col border-bottom border-color-extra-medium-gray ps-25px pe-25px xl-ps-15px xl-pe-15px lg-ps-10px lg-pe-10px pt-10px pb-10px">
                                    <a class="vimeo text-dark-gray" href="https://vimeo.com/" target="_blank">
                                        <i class="fa-brands fa-vimeo-v fs-18 me-10px"></i>
                                        <span class="fw-500">Vimeo</span>
                                    </a> 
                                </div>
                                <div class="col border-end border-color-extra-medium-gray ps-25px pe-25px xl-ps-15px xl-pe-15px lg-ps-10px lg-pe-10px pt-10px pb-10px">
                                    <a class="linkedin text-dark-gray" href="https://www.linkedin.com/" target="_blank">
                                        <i class="fa-brands fa-linkedin-in fs-18 me-10px"></i>
                                        <span class="fw-500">Linkedin</span>
                                    </a> 
                                </div>
                                <div class="col ps-25px pe-25px xl-ps-15px xl-pe-15px lg-ps-10px lg-pe-10px pt-10px pb-10px">
                                    <a class="behance text-dark-gray" href="http://www.behance.com/" target="_blank">
                                        <i class="fa-brands fa-behance fs-18 me-10px"></i>
                                        <span class="fw-500 fs-16">Behance</span>
                                    </a> 
                                </div>
                            </div>
                        </div>
                        <div class="mb-15 md-mb-50px xs-mb-35px">
                            <div class="fw-600 fs-19 lh-22 ls-minus-05px text-dark-gray border-bottom border-color-dark-gray border-2 d-block mb-30px pb-15px position-relative">Tags cloud</div>
                            <div class="tag-cloud">
								{{#each blog.elems}}
									{{#if (isEqual this.id ../request.query.post_id)}} 
										{{#each this.tag_ids}}
											{{#each ../../this.blog.tags}}
												{{#if (isEqual ../this this.id)}}
		                                			<a href="/blog?tag='{{this.name}}'">{{this.name}}</a> 
												{{/if}}
											{{/each}}
										{{/each}}
									{{/if}}
								{{/each}}
                            </div>
                        </div>
                    </aside>
                    <!-- end sidebar -->
                </div>
            </div>
        </section>
        <!-- end section -->


