<div class="mb-40px">
	<div class="row mb-20px">
		<div class="col-auto fs-12" style="color: #333">
			<span class="p-5px" style="border: 1px solid #CCDCC5; width: min-content">Ecology</span>
		</div>
		<div class="col-auto fs-12" style="color: #333">
			<span>07.06.2023</span>
		</div>
		<div class="col-auto fs-12" style="color: #333">
			<img src="{{blog.return_path}}images/eye.svg" />
			<span>43</span>
		</div>
		<div class="col-auto fs-12" style="color: #333">
			<img src="{{blog.return_path}}images/comment.svg" />
			<span>4</span>
		</div>
		<div class="w-100"></div>
	</div>

	<h1 style="font-family: Inter;font-size: 48px;font-weight: 600;line-height: 52.8px;text-align: left; color: #0D2901;">
		{{text}}
	</h1>

	<div class="row mt-5px">
		<div class="col-auto fs-12" style="color: #333">
			<img src="{{blog.return_path}}images/save.svg" />
			<span>Save</span>
		</div>
		<div class="col-auto fs-12" style="color: #333">
			<img src="{{blog.return_path}}images/share.svg" />
			<span>Share</span>
		</div>
		<div class="w-100"></div>
	</div>

</div>
