        <footer class="m-0 bg-gradient-aztec-green position-relative mt-10px {{classes}}" style="background: #0D2901;">
            <div class="position-absolute left-minus-100px top-25px">
                <img src="images/demo-elearning-bg-05.png" alt="" class="w-80">
            </div>
            <div class="background-position-center-top h-100 w-100 position-absolute left-0px top-0" style="background-image: url('images/vertical-line-bg-small.svg')"></div>

            <div class="container footer-dark text-center text-sm-start position-relative"> 
                <div class="row mb-5 sm-mb-7 xs-mb-30px">
                    <!-- start footer column -->
                    <div class="col-lg-2 col-md-4 col-sm-6 d-flex flex-column last-paragraph-no-margin md-mb-40px xs-mb-30px">
						<img src="{{blog.return_path}}images/logo.png" style="width: 82px;, height: 85px;"/>
                    </div>
                    <!-- end footer column -->  
                    <!-- start footer column -->
                    <div class="col-lg-3 col-md-4 col-sm-6 ps-4 last-paragraph-no-margin md-mb-40px xs-mb-30px"> 
                        <span class="fw-500 fs-20 d-block text-white mb-10px">Category</span>
                        <ul>
                                <li class="nav-item fs-16"><a href="about"    style="color: #fff">About</a></li>
                                <li class="nav-item fs-16"><a href="blog"     style="color: #fff">Blog</a></li>
                                <li class="nav-item fs-16"><a href="news"     style="color: #fff">News</a></li>
                                <li class="nav-item fs-16"><a href="contacts" style="color: #fff">Contacts</a></li>
                        </ul> 
                    </div>
                    <!-- end footer column -->
                    <!-- start footer column -->
                    <div class="col-lg-3 col-md-4 col-sm-6 last-paragraph-no-margin xs-mb-30px"> 
                        <span class="fw-500 fs-20 d-block text-white mb-10px">Have questions?</span>
                        <span class="lh-19 d-block" style="color: #fff">You can call:</span>
                        <span class="text-white d-block mb-10px"><a href="tel:12345678910" style="font-family: Inter; font-size: 18px; font-weight: 500;">+1 (234) 567-89-10</a></span>
                        <span class="lh-19 d-block" style="color: #fff">Or write:</span>
                        <a href="mailto:help@domain.com" class="text-white text-decoration-line-bottom" style="font-family: Inter; font-size: 18px; font-weight: 500;">fast@help.com</a>
                    </div>
                    <!-- end footer column -->
                    <!-- start footer column -->
                    <div class="col-lg-4 col-md-12 col-sm-12 text-md-center text-lg-start" style="max-width: 400px;">
                        <span class="fs-20 fw-500 d-block text-white mb-20px">Subscribe to our updates!</span> 
                        <div class="d-inline-block w-100 position-relative mb-15px">
                            <form action="" method="post" class="position-relative">
                                <div class="position-relative form-group" style="background: white; display: flex; height: 45px; background: #CFD201; max-width: 385px;">
                                    <input class="fs-15 pe-5px border-color-charcoal-grey bg-white form-control required border-radius-0px" type="email" name="email" placeholder="Your e-mail" style="border-color: #CFD201;"/>
                                    <span class="p-10px " style="background: #CFD201;">
										<img width="25px" src="{{blog.return_path}}images/to_send.svg"/>
									</span>
                                </div>

								<div class="mt-5px" style="font-family: Inter; font-size: 12px; display: flex; height: 14px;">
									<label class="w-20px checkbox-container">
										<input type="checkbox" checked="checked">
										<span class="checkmark"></span>
									</label>
									<label for="html">I confirm my consent to receive the newsletter</label>
								</div>
                                <input type="hidden" name="redirect" value="">
                                <button type="submit" aria-label="submit" class="btn pe-20px text-white fs-13 fw-500 lg-ps-15px lg-pe-15px submit"></button>
                                <div class="form-results pt-5px pb-5px ps-15px pe-15px fs-14 lh-22 mt-10px w-100 text-center position-absolute d-none"></div>
                            </form>
                        </div>
                        <div class="d-inline-block w-100 newsletter-style-02 position-relative mb-15px">
							<span class="mt-10px fs-20 fw-500 d-block text-white mb-20px">And follow us on social networks:</span> 
							<div class="row justify-content-start">
								<div class="col-lg-12 col-md-12 col-sm-12 elements-social social-icon-style-08">
									<ul class="extra-large-icon dark">
										<li><a class="instagram" href="http://www.instagram.com" target="_blank"><img width="41px" src="{{blog.return_path}}images/ig.svg"/></a></li>
										<li><a class="facebook" href="https://www.facebook.com/" target="_blank"><img width="41px" src="{{blog.return_path}}images/fb.svg"/></a></li>
										<li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><img width="41px" src="{{blog.return_path}}images/li.svg"/></a></li>
									</ul>
								</div>
							</div>
                        </div>
                    </div>
                    <!-- end footer column -->
                </div> 
            </div> 
        </footer>
